.webmaker-appbuilder-connection-sentence {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.85);
  color: #fff;
  padding: 5px;
  z-index: 9999;
}

.webmaker-appbuilder-connection-sentence.on {
  visibility: visible;
}

.webmaker-appbuilder-connection-list {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.85);
  color: #fff;
  padding: 5px;
  z-index: 9999;
}

.webmaker-appbuilder-connection-list.on {
  visibility: visible;
}

.webmaker-appbuilder-connection-list ul {
  list-style: none;
}
