<element name="appbuilder-shutter">
  <template>
    <style scoped>
      appbuilder-shutter {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 200px;
        background-color: rgba(100, 100, 100, 0.5);
      }
      appbuilder-shutter video {
        width: 100%;
        height: 100%;
      }
      appbuilder-shutter div[data-shutter-image-container] {
        width: 100%;
        height: 100%;
      }
      appbuilder-shutter div[data-shutter-image-container] img {
        width: 100%;
      }
    </style>
    <video></video>
    <div data-shutter-image-container></div>
  </template>
  <script>
    if (this !== window) {
      var template = this.querySelector('template');
      this.register({
        prototype: {
          readyCallback: function() {
            var connectionElements = this.querySelectorAll('appbuilder-connection');

            this.innerHTML = template.innerHTML;

            var thisElement = this;
            var videoElement = thisElement.querySelector('video');
            var imageContainerElement = thisElement.querySelector('div[data-shutter-image-container]');

            function initAppbuilder (e) {
              var __getUserMedia = navigator.getUserMedia ||
                                   navigator.webkitGetUserMedia ||
                                   navigator.mozGetUserMedia ||
                                   navigator.msGetUserMedia;

              var appbuilderController = appbuilder.initElement(thisElement, {
                states: {
                  isReady: false
                },
                inputs: {
                  takePicture: {
                    type: 'event',
                    description: 'take a picture'
                  },
                  showImage: {
                    type: 'image',
                    description: 'display the image'
                  },
                  clearImage: {
                    type: 'image',
                    description: 'clear the image if one is being displayed'
                  }
                },
                outputs: {
                  isReady: {
                    type: 'event',
                    description: '{{name}} is ready'
                  },
                  pictureTaken: {
                    type: 'image',
                    description: '{{name}} takes a picture'
                  }
                },
                connectionElements: connectionElements
              });

              videoElement.addEventListener('canplay', function (e) {
                appbuilderController.states.isReady = true;
                appbuilderController.sendOutput('isReady');
              }, false);

              appbuilder.updateStateListenersOnConnect(appbuilderController);

              appbuilderController.onInput('takePicture', function(data) {
                var canvas = document.createElement('canvas');
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;

                // Hack for polymer's wrapper. Firefox won't accept anything but the elements it expects.
                // So, dig the impl out of a wrapper if there is one.
                var trueVideoElement = videoElement.impl ? videoElement.impl : videoElement;

                canvas.getContext('2d').drawImage(trueVideoElement, 0, 0, canvas.width, canvas.height);
                appbuilderController.sendOutput('pictureTaken', canvas);
              });

              appbuilderController.onInput('showImage', function (img) {
                videoElement.hidden = true;
                imageContainerElement.appendChild(img);
              });

              appbuilderController.onInput('clearImage', function (img) {
                videoElement.hidden = false;
                while(imageContainerElement.firstChild) {
                  imageContainerElement.removeChild(imageContainerElement.firstChild);
                }
              });

              __getUserMedia.call(navigator, {video: true, audio: false},
                function (stream) {
                  if (navigator.mozGetUserMedia) {
                    videoElement.mozSrcObject = stream;
                  } else {
                    var vendorURL = window.URL || window.webkitURL;
                    videoElement.src = vendorURL.createObjectURL(stream);
                  }
                  videoElement.play();
                },
                function (err) {
                  console.err('Couldn\'t prepare camera.');
                });
            }

            if (!window.appbuilder) {
              window.addEventListener('appbuilderloaded', initAppbuilder, false);
            }
            else {
              initAppbuilder();
            }
          }
        }
      });
    }
  </script>
</element>